{% extends 'base.html.twig' %}

{% block title %}製品紹介ページ{% endblock %}

{% block body %}
    <h1>商品を更新する</h1>

    <a href={{ path('product_index') }}>戻る</a>

    {{ include('product/_form.html.twig') }}

{% endblock %}
